In [5]:
import pandas as pd
df_mapa = pd.read_csv('C:/Users/DONKAMS/Downloads/STAGE-B-EXERCISE/Popularidad/mapa.csv')
df_temporal = pd.read_csv('C:/Users/DONKAMS/Downloads/STAGE-B-EXERCISE/Popularidad/temporal.csv')

#reassign the dataframe values
df1 = df_mapa
df2 = df_temporal

In [6]:
df1.head()

          País  data science  machine learning  deep learning
0  Santa Elena         100.0             100.0           52.0
1        India          99.0              77.0           25.0
2       Ruanda           NaN               NaN            NaN
3       Lesoto           NaN               NaN            NaN
4     Singapur          91.0              79.0           52.0

In [7]:
df2.head()

          Mes  data science  machine learning  deep learning  categorical
0  2004-01-01            12                18              4            1
1  2004-02-01            12                21              2            1
2  2004-03-01             9                21              2            1
3  2004-04-01            10                16              4            1
4  2004-05-01             7                14              3            1

In [8]:
df1.describe()

       data science  machine learning  deep learning
count     62.000000         64.000000      61.000000
mean      25.806452         22.250000      13.885246
std       23.516885         18.233059      15.609931
min        3.000000          6.000000       2.000000
25%       10.000000         10.000000       5.000000
50%       15.000000         17.500000      10.000000
75%       34.750000         27.000000      15.000000
max      100.000000        100.000000     100.000000

In [9]:
df2.describe()

       data science  machine learning  deep learning  categorical
count    194.000000        194.000000     194.000000   194.000000
mean      20.953608         27.396907      24.231959     0.257732
std       23.951006         28.091490      34.476887     0.438517
min        4.000000          7.000000       1.000000     0.000000
25%        6.000000          9.000000       2.000000     0.000000
50%        8.000000         13.000000       3.000000     0.000000
75%       26.750000         31.500000      34.000000     1.000000
max      100.000000        100.000000     100.000000     1.000000

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   País              250 non-null    object
 1   data science      62 non-null     float64
 2   machine learning  64 non-null     float64
 3   deep learning     61 non-null     float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Mes               194 non-null    object
 1   data science      194 non-null    int64
 2   machine learning  194 non-null    int64
 3   deep learning     194 non-null    int64
 4   categorical       194 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.7+ KB

In [12]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [23]:
format_dict ={'data science' :'${0:,.2f}', "Mes":"{:%m-%Y}", 'machine Learning' :"{:.2%}"}
#We make sure that the Month column has datetime format
df2['Mes'] = pd.to_datetime(df2['Mes'])
#We apply the style to the visualization
df2.head( ).style.format( format_dict )

In [24]:
format_dict= {'Mes': '{:%m-%Y}'}
#Stmplified format dictionary with values that do make sense for our data
df2.head( ).style.format( format_dict ).highlight_max(color=' darkgreen ').highlight_min(color= '#ffOOOO' )

In [25]:
df2.head(10).style.format(format_dict).background_gradient(subset = ['data science','machine learning'], cmap ='BuGn')

In [28]:
df2.head( ).style.format(format_dict).bar( color='red', subset=[ 'data science','deep learning'])

In [30]:
df2.head().style.format(format_dict).background_gradient(subset = ['data science','machine learning'],cmap='BuGn').highlight_max(color = 'yellow')

In [33]:
!pip install pandas_profiling

# importing packages 
import pandas as pd 
import pandas_profiling as pp  

# dictionary of data 
dct = {'ID': {0: 23, 1: 43, 2: 12, 3: 13,  

              4: 67, 5: 89, 6: 90, 7: 56,  

              8: 34},  

       'Name': {0: 'Ram', 1: 'Deep', 2: 'Yash', 

                3: 'Aman', 4: 'Arjun', 5: 'Aditya', 

                6: 'Divya', 7: 'Chalsea', 

                8: 'Akash' },  

       'Marks': {0: 89, 1: 97, 2: 45, 3: 78, 

                 4: 56, 5: 76, 6: 100, 7: 87, 

                 8: 81},  

       'Grade': {0: 'B', 1: 'A', 2: 'F', 3: 'C', 

                 4: 'E', 5: 'C', 6: 'A', 7: 'B', 

                 8: 'B'} 

      } 

# forming dataframe and printing 
data = pd.DataFrame(dct) 
print(data) 

# forming ProfileReport and save 
# as output.html file 

profile = pp.ProfileReport(data) 
profile.to_file("output.html")

Requirement already satisfied: pandas_profiling in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.2.0)
Requirement already satisfied: joblib~=1.1.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (1.1.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (1.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (2.1.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (3.8.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (2.4.2)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (6.0.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (2.1.3)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (1.26.0)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (0.5.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (0.12.3)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (2.31.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (4.66.1)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (0.13.0)
Requirement already satisfied: multimethod>=1.4 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas_profiling) (1.10)
Requirement already satisfied: attrs>=19.3.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (3.1)
Requirement already satisfied: imagehash in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (10.0.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2023.3)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pydantic>=1.8.1->pandas_profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.10.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pydantic>=1.8.1->pandas_profiling) (2.10.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pydantic>=1.8.1->pandas_profiling) (4.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.24.0->pandas_profiling) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.24.0->pandas_profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.24.0->pandas_profiling) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.24.0->pandas_profiling) (2023.7.22)
Requirement already satisfied: colorama in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tqdm>=4.48.2->pandas_profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas_profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.4.1)

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.4/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.4/u/import-error